html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
  line-height: 1.5;
}

h1,
h2 {
  text-align: center;
}

h1.kodilla-heading {
  font-size: 3rem;
  padding: 5rem;
}

h1.kodilla-heading.kodilla-heading--main {
  color: #fdb605;
}

h2 {
  font-size: 2rem;
  padding: 2rem 0;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.crud {
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
}

.datatable__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.datatable__row + .datatable__row {
  border-top: .1rem solid #eee;
}

.datatable__row--add {
  padding: 2rem 0;
}

.datatable__row-section-wrapper {
  display: flex;
}

.datatable__row-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.datatable__row-section--input-section {
  width: 40rem;
}

.datatable__row-section--button-section {
  width: 25rem;
  justify-content: center;
  align-items: center;
}

.datatable__row-section--trello-section {
  width: 30rem;
  align-items: center;
  justify-content: space-between;
}

.datatable__input-label {
  display: none;
}

.datatable__input,
.datatable__select,
.datatable__button {
  display: block;
  width: 100%;
  border-radius: .5rem;
  border: .1rem solid #ccc;
}

.datatable__input:invalid,
.datatable__textarea:invalid {
  border: .2rem solid #ed7c7c;
}

.datatable__input:focus:invalid,
.datatable__textarea:focus:invalid {
  border: .2rem solid #e96b6b;
}

.datatable__input:focus,
.datatable__textarea:focus {
  border: .2rem solid #7cc8ed;
}

.datatable__input,
.datatable__textarea {
  padding: .7rem;
}

.datatable__textarea {
  resize: vertical;
}

.datatable__field-value {
  font-size: 1.5rem;
  padding: .8rem 1rem;
}

.datatable__field-value::first-letter {
  text-transform: uppercase;
}

.datatable__select {
  padding: .8rem 1rem;
  background: #fff;
}

.datatable__button {
  padding: 1rem 0;
  background-color: #eee;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.datatable__button:hover {
  background-color: #fdb605;
}

.datatable__button--editing {
  display: none;
}

.datatable__row--editing .datatable__field-value {
  display: none;
}

.datatable__row--editing .datatable__button--editing {
  display: block;
}

.datatable__row--editing .datatable__button--not-editing {
  display: none;
}

.datatable__row--editing .datatable__input {
  display: block;
}

.datatable__row-section--trello-section .datatable__select,
.datatable__row-section--trello-section .datatable__button {
  margin-left: 1rem;
}

.datatable__row-section--trello-section .datatable__button {
  width: 13rem;
}

.template {
  display: none;
}

fieldset {
  border: none;
}
